body.login-page {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: black;
    color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-box {
    position: relative; 
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.login-box::before, .login-box::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    background: url('../src/assets/images/tl.webp') no-repeat;
    background-size: 70px;
}

.login-box::before {
    top: -5px; 
    left: 5px;
}

.login-box::after {
    top: -5px; 
    right: 5px;
    transform: scaleX(-1); 
}


.login-box h2 {
    margin-bottom: 1rem;
}

.login-box p {
    margin-bottom: 2rem;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin-bottom: 0.5rem;
    text-align: left;
}

.login-box input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.login-box button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: #ff00cc;  
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  
    background: linear-gradient(to right, #333399, #ff00cc); 
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background-color: #ddd;
}

.login-box input::placeholder {
    color: #999;
}