:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/assets/images/fondo1.jpg'), url('../src/assets/images/fondo2.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 3px 5px rgba(255, 64, 129, 0.5);
}

.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  cursor: pointer;
  width: 200px;
  height: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color:#fff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar-links a:hover {
  color: #ff4081;
}

.navbar-signin, .navbar-signup {
  padding: 10px 20px;
  background-color: #ff4081;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
}

.navbar-signin:hover, .navbar-signup:hover {
  background-color: #7b33e7;
}
